<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__first">
        <a href="/" class="logo">
          <img src="../images/PlanDone-white.svg" alt="Plan done Logo" />
        </a>
        <nav class="footer__nav">
          <ul class="nav__list">
            <li class="nav__list__item">
              <a href="/">Home</a>
            </li>
            <li class="nav__list__item">
              <a href="./notes">Notes</a>
            </li>
            <li class="nav__list__item">
              <a href="./tasks">Tasks</a>
            </li>
            <li class="nav__list__item">
              <a href="./gpa-forecaster">CGPA Forecaster</a>
            </li>
            <li class="nav__list__item">
              <a href="./links">Links</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="footer__second">
        <div class="footer__social">
          <a href="https://twitter.com/FavouriteJome1">
            <img src="../images/twitter.svg" alt="twitter logo" />
          </a>
          <a href="https://github.com/jomefavourite">
            <img src="../images/github.svg" alt="github logo" />
          </a>
          <a href="https://www.linkedin.com/in/favourite-jome-677766184/">
            <img src="../images/linkedin.svg" alt="linkedin logo" />
          </a>
        </div>
        <p>© 2021 PlanDone. All rights reserved</p>
      </div>
    </div>

    <p class="footer__cite">
      Design and Developed by
      <a href="https://jomefavourite.github.io/linktree/">Favourite Jome</a>
    </p>
  </div>
</footer>
