<nav class="nav__container">
  <a href="/" class="logo">
    <img src="/images/PlanDone.svg" alt="plan done logo" />
  </a>

  <div class="nav">
    <ul class="nav__list">
      <li class="nav__list__item">
        <a href="/" class="<% if (activePath === "/" || activePath === "/plandone") {%>active<%}%>">Home</a>
      </li>
      <li class="nav__list__item">
        <a href="/notes" class="<% if (activePath === "/notes") {%>active<%}%>">Notes</a>
      </li>
      <li class="nav__list__item">
        <a href="/tasks" class="<% if (activePath === "/tasks") {%>active<%}%>">Tasks</a>
      </li>
      <li class="nav__list__item">
        <a href="/gpa-forecaster" class="<% if (activePath === "/gpa-forecaster") {%>active<%}%>">CGPA Forecaster</a>
      </li>
      <li class="nav__list__item">
        <a href="/links" class="<% if (activePath === "/links") {%>active<%}%>">Links</a>
      </li>
      <% if (isAuth === false) { %>
      <!-- <li class="nav__list__item signIn">
        <a href="/auth/google">
          <img src="./images/google.svg" alt="google icon" />
          Sign In
        </a>
      </li> -->
      <% } else {%>
      <li class="nav__list__item userImg desktopLink">
        <img src="<%- picture %>" alt="<% displayName %> " />
      </li>
      <li class="nav__list__item logout">
        <a href="/logout" title="Log out">
          <img src="/images/logout.svg" alt="logout icon" />
        </a>
      </li>
      <% } %>
    </ul>
  </div>

  <div class="signInHam">
    <% if (isAuth === false) { %>
    <li class="nav__list__item signIn">
      <a href="/auth/google">
        <img src="/images/google.svg" alt="" />
        Sign In
      </a>
    </li>
    <% } else {%>
    <li class="nav__list__item userImg mobileLink">
      <img src="<%- picture %>" alt="<% displayName %> " />
    </li>
    <% } %>
    <button class="hamburger">
      <span id="span1"></span>
      <span id="span2"></span>
      <span id="span3"></span>
    </button>
  </div>
</nav>
