<nav class="nav__container">
  <a href="../index.html" class="logo">
    <img src="../images/PlanDone.svg" alt="plan done logo" />
  </a>

  <div class="nav">
    <ul class="nav__list">
      <li class="nav__list__item">
        <a href="/">Home</a>
      </li>
      <li class="nav__list__item">
        <a href="/notes">Notes</a>
      </li>
      <li class="nav__list__item">
        <a href="/tasks">Tasks</a>
      </li>
      <li class="nav__list__item">
        <a href="/gpa-forecaster">CGPA Forecaster</a>
      </li>
      <li class="nav__list__item">
        <a href="/links">Links</a>
      </li>
    </ul>
  </div>

  <button class="hamburger">
    <span id="span1"></span>
    <span id="span2"></span>
    <span id="span3"></span>
  </button>
</nav>