.contact {
  margin: 2rem auto 5rem;
  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  h1 {
    max-width: 100%;
    // text-align: center;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem;
  }

  form > * {
    margin-top: 1rem;
  }

  button {
    padding: 1rem 2rem !important;
  }
}
