.links__container {
  display: grid;
  gap: 20px;
}

.linker {
  margin-bottom: 5rem;
}

.link {
  border: 1px solid rgba(0, 0, 0, 0.198);
  text-align: center;
  position: relative;

  a {
    padding: 2rem;
  }

  img {
    display: block;
    width: 60px;
    margin: auto;
  }

  h5 {
    color: #000;
    text-transform: capitalize;
  }

  &__delete {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: #000;
    border: none;
    cursor: pointer;

    img {
      padding: 5px;
      width: 100%;
      max-width: 30px;
    }
  }
}
