@use '../utilities' as util;
@use "sass:color";

.note {
  position: relative;
  border-radius: 10px;
  padding: 1rem;
  min-height: 200px;
  // height: 200px;
  overflow: hidden;
  word-break: break-word;
  white-space: normal;
  transition: opacity 200ms ease-in;

  h2 {
    font-size: 18px;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }
  p {
    font-size: 14px;
    font-weight: normal;
  }

  &:hover {
    overflow-x: auto;

    .note__edit,
    .note__delete {
      opacity: 1;
    }
  }

  &__edit,
  &__delete {
    position: absolute;
    right: 20px;
    background: #000;
    padding: 2px 4px;
    border-radius: 5px;
    opacity: 0.6;
  }

  &__edit {
    bottom: 45px;
  }

  &__delete {
    bottom: 10px;
    border: none;
    cursor: pointer;
  }

  &__none {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5rem;

    img {
      display: block;
      max-width: 300px;
      margin: auto;
    }
  }

  input:checked + span {
    text-decoration: line-through;
  }

  > div {
    h1 {
      font-size: 17px;
    }
    h2 {
      font-size: 16px;
      text-transform: unset;
      margin-bottom: 0;
    }
    h3 {
      font-size: 15px;
    }

    ul {
      margin: 10px 0 10px 20px;
    }
  }
}

.notes {
  &__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-bottom: 3rem;
  }
}

.note::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
}

.createNotes,
.createLinks {
  display: flex;
  align-items: center;
  max-width: 200px;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  margin-left: 5px;

  &__text {
    display: none;
  }

  // max-width: 500px;
  img {
    // display: block;
    width: 30px;
  }
}

@each $key, $value in util.$noteBackground {
  .note:nth-of-type(#{$key}) {
    @include util.set-background($value);
  }

  .note:nth-of-type(#{$key})::before {
    background: color.adjust($value, $blackness: 10%);
  }
}

.displayNone {
  display: none !important;
}

.notFound {
  display: none;
  text-align: center;
  margin: 3rem 0;

  img {
    max-width: 600px;
    margin: auto;
  }
}

.modal {
  display: none;
}

.show {
  display: block;
}
