.tasks {
  &__container {
    display: grid;
    margin-bottom: 3rem;
  }
}

.task {
  display: flex;
  gap: 10px;
  padding: 0 20px 20px;
  box-shadow: 0px 5px 8px rgba(92, 19, 19, 0.158);
  height: fit-content;
  border: 1px solid rgba(92, 19, 19, 0.158);

  & + & {
    margin-top: 1rem;
  }

  input[type="checkbox"] {
    display: block;
    margin: 8px 0 auto;
    width: min-content;
  }

  &__content {
    > * + * {
      margin-top: 0.4rem;
    }

    h2 {
      font-size: unset;
      font-size: 18px;
      font-weight: normal;
      text-transform: capitalize;
    }

    p {
      font-size: 16px;
      color: rgba(0, 0, 0, 0.698);
    }

    p + p {
      display: flex;
      align-items: center;
      font-size: 13px;
      border: 1px solid #000000b2;
      border-radius: 4px;
      padding: 3px;
      max-width: 110px;

      img {
        width: 20px;
        margin-right: 5px;
      }
    }
  }

  .edit {
    align-self: center;
    margin-left: auto;
  }
}
