.modal {
  // padding: 2rem;

  img {
    width: 20px;
    margin-left: auto;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}

form input,
textarea {
  display: block;
  width: 100%;
  resize: vertical;
  padding: 0.5rem;
}

form .title {
  margin: 0;
}

form button {
  display: block;
  width: 100%;
}

form * + * {
  margin-top: 1rem;
}
