.overflow {
  overflow-y: hidden;
}

.nav {
  display: none;
  position: absolute;
  top: 60px;
  left: -30px;
  width: 100vw;
  background: #fff;
  height: calc(100vh - 40px);
  z-index: 1000;

  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;

    &__item {
      list-style: none;

      > a {
        text-decoration: none;
        color: inherit;
        position: relative;

        &::before {
          position: absolute;
          content: '';
          left: 0;
          bottom: -1px;
          height: 2px;
          width: 100%;
          background: #000000;
          transform: scaleX(0);
          transform-origin: right;
          transition: transform 0.3s linear;
        }

        &:hover::before {
          transform: scaleX(1);
          transform-origin: left;
        }
      }
    }

    &__item + &__item {
      margin-top: 40px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;

    .hamburger {
      display: block;
      border: none;
      background: transparent;
      cursor: pointer;

      span {
        display: block;
        width: 30px;
        height: 3px;
        background: #000;
        transition: 200ms;
      }

      span + span {
        margin-top: 0.2rem;
      }
    }

    .toggle-show {
      display: block;
    }
  }
}

.signIn {
  a {
    display: flex;
    background: #000;
    padding: 0.5rem 1rem;
    color: #fff;
  }

  img {
    width: 20px;
    margin-right: 5px;
  }
}

.userImg {
  img {
    width: 50px;
    border-radius: 50%;
  }
}

.logout {
  img {
    width: 20px;
  }
}

.signInHam {
  display: flex;
  gap: 20px;
}
